<Layout>
  <h1>Welcome to IR Freedom</h1>
  <p>Support your body naturally in reversing insulin resistance and restoring balance.</p>

  <h2>Choose a Category</h2>
  <ul>
    <li><a href="/obesity">Obesity</a></li>
    <li><a href="/prediabetes">Pre-Diabetes</a></li>
    <li><a href="/type1diabetes">Type 1 Diabetes</a></li>
    <li><a href="/type2diabetes">Type 2 Diabetes</a></li>
    <li><a href="/pcos">PCOS</a></li>
    <li><a href="/cholesterol">High Cholesterol</a></li>
    <li><a href="/bloodpressure">High Blood Pressure</a></li>
    <li><a href="/ibs">IBS</a></li>
    <li><a href="/athletes">Bodybuilders & Athletes</a></li>
    <li><a href="/professionals">Medical Professionals</a></li>
  </ul>
</Layout>
